.container{
  width: 500px;
  margin: 50px auto;
}

li{
  list-style:none;
}

.square {
  width: 48px;
  height: 48px;
  background: #4fd9ec;
  border: solid white 1px;
  float: left;
}

.square:hover{
  background: #098caf;
}

.obstacle {
  background: #27576b;

}
.wire {

  background:red;

}
